{% extends "base.html" %}

    {% block header-css %}
    {% endblock %}




{% block page-content-title %} 首页 {% endblock %}

{% block page-nav-tab %}


            <ol class="breadcrumb">
                <li>
                    <a href="../index.html">首页</a>
                </li>
                <li>
                    <a>详细</a>
                </li>
                <li class="active">
                    <strong>机房：{{ xiangxi_info.name }}  &nbsp;&nbsp;&nbsp;&nbsp;{% if   perms.jigui.change_jiguiinfo %} &nbsp;&nbsp;&nbsp;&nbsp;<a href="/jigui/jiguiedit-{{ xiangxi_info.id }}.html"> 编辑</a>   {% endif %}  {% if  perms.jigui.delete_jiguiinfo   %}|    <a href="/jigui/jiguidel-{{ xiangxi_info.id }}.html">删除</a>{% endif %}</strong>
                </li>
            </ol>
   {% endblock %}



{% block page-content %}



       <div class="wrapper wrapper-content animated fadeIn">


            <div class="row">
                <div class="col-lg-6">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-1"> 基本信息</a></li>
                            <li class=""><a data-toggle="tab" href="#tab-2">高级信息</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">



                             <p>   <a class="text-info" href="#"></a>总数: {{ xiangxi_info.jq}} </p>


                                <p><a class="text-info" href="#"></a>在用: {{ xiangxi_info.zy}}</p>


                                <p><a class="text-info" href="#"></a>自用: {{ xiangxi_info.ziy}}</p>


                                <p><a class="text-info" href="#"></a>在售: {{ xiangxi_info.zs}}</p>


                                <p><a class="text-info" href="#"></a>整包: {{ xiangxi_info.zb}}</p>


                                <p><a class="text-info" href="#"></a>散户: {{ xiangxi_info.sh}}</p>


                                <p><a class="text-info" href="#"></a>闲置: {{ xiangxi_info.xz}}</p>


                                <p><a class="text-info" href="#"></a>状态:
                                    {% for row in dx %}
                                      <span> {{ row.xuan }}</span>
                                   {% endfor %}</p>


                                <p><a class="text-info" href="#"></a>是否在用: {% ifequal  xiangxi_info.yong  1 %}   在用 {% else %}  没用  {% endifequal %}</p>




                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <p><a class="text-info" href="#"></a>更新时间: {{ xiangxi_info.utime | date:"Y-m-d H:i:s"}}</p>
                                      <p><a class="text-info" href="#"></a>创建时间: {{ xiangxi_info.ctime | date:"Y-m-d H:i:s"}}</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>



        </div>





<script>

</script>

{% endblock %}