

<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class=" minimalize-styl-2   btn btn-primary " href="#" id="toubu"><i class="fa fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <span class="m-r-sm text-muted welcome-message">欢迎  {{ user }}来到 CMDB系统</span>
        </li>

        <li>
            <a href="/logout.html">
                <i class="fa fa-sign-out"></i>退出登录
            </a>

        </li>
    </ul>
</nav>