{% extends "base.html" %}

{% block header-css %}
    {% endblock %}




{% block page-content-title %} 脚本编辑 {% endblock %}

{% block page-nav-tab %}
 <ol class="breadcrumb">
                    <li>
                        <a href="../index.html">首页</a>
                    </li>
                    <li>
                        <a href="sh.html">详情</a>
                    </li>
                    <li class="active">
                        <strong>脚本编辑</strong></li>
</ol>
{% endblock %}



{% block page-content %}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">


            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 >  脚本编辑
                        </h5>
    <div class="ibox-tools">
                                <a class="collapse-links">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">配置选项 1</a>
                                    </li>
                                    <li><a href="#">配置选项 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                    </div>
                    <div class="ibox-content">

                      {% for  row  in  obj  %}
                        <form  class="form-horizontal" method="post"   action="/sh/shedit-{{ row.id }}.html">
                         {% csrf_token %}

                            <div class="form-group"><label class="col-sm-2 control-label">工具名称</label>

                                <div class="col-lg-4 col-sm-6"><input type="text" class="form-control" name="name"  required=""  value="{{ row.name }}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                       <div class="form-group"><label class="col-sm-2 control-label">脚本</label>

                                <div class="col-lg-6 col-sm-6"><textarea id="code2"  name="tool_script"  >{{ row.tool_script }}</textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>


                              <div class="form-group"><label class="col-sm-2 control-label">脚本类型</label>

                                <div class="col-lg-4 col-sm-6">


                            <div class="col-sm-10">
                                <label class="radio-inline"><input type="radio"    value="0" id="optionsRadios1"  {% ifequal row.tool_run_type  0 %}checked="checked"  {% endifequal %} name="tool_run_type" required="">shell</label>
                             <label class="radio-inline"><input type="radio" value="1"  {% ifequal row.tool_run_type  1 %}checked="checked"  {% endifequal %}  id="optionsRadios2" name="tool_run_type" required="">python</label>
                                <label class="radio-inline"><input type="radio" value="2" {% ifequal row.tool_run_type  2 %} checked="checked" {% endifequal %}  id="optionsRadios2" name="tool_run_type" required="">yml</label>

                            </div>
                        </div>



                                </div>

                            <div class="hr-line-dashed"></div>
                              <div class="form-group"><label class="col-sm-2 control-label">工具说明</label>

                                <div class="col-lg-4 col-sm-6"><input type="text" class="form-control"   value="{{ row.comment}}"  name="comment"  required="">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">

                                    <button class="btn btn-primary" type="submit"   >保存</button>
                                    <a  class="btn btn-white"  href="sh.html">取消</a>
                                </div>
                            </div>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
 {% block  js %}


<script>


         $(document).ready(function(){


             var editor_two = CodeMirror.fromTextArea(document.getElementById("code2"), {
                 lineNumbers: true,
                 matchBrackets: true,
                 styleActiveLine: true
             });

        });
    </script>{% endblock %}